<div class="col-md-8">
    
<h1 class="about">About Us</h1>

    <%= link_to (image_tag "", :alt => "image", :title => "", :class => "class_photo")%>
    
    <br>
    <br>
    
<div class="about_us">

<h2>Who we are</h2>

<div> <p> About the people who created it.
A combination of girls who had no or very little coding experience (but knew some math) came together over a six week period to learn how to code every Wednesday.
Over the course the girls attended Microsoft, Dropbox, Commonwealth Bank Innovation Lab.
On the second day we came together and brainstormed a problem that we all suffered from. Long lines and boring lunches caused us to build a solution! The Mitchell High School Canteen App.
About the program.
The idea behind it, why we made it.
We had suffered enough of LONGLINE-ITUS.
Waiting in line for food would take all lunch and recess.
We weren't sure what food was available and how much it cost
Food would run out of stock. Demand far outweighed supply.
We made this app to make the lives of students, teachers and canteen staff more simple.
Who helped? i.e. CF staff and school staff.
Coder Factory staff, Commonwealth Bank, Mitchell High staff.
About the canteen itself.
What we think it will help with in the future.</p>
</div>
</div>