<div class="jumbotron col-md-10">
  <div class="container-fluid">
    <h1>Welcome to the Canteen App</h1>
    <p>Developed by the Mitchell High Girls Coding Class.</p>
    <p><a class="btn btn-primary btn-lg" href="/pages/about/" role="button">Find out more about us</a></p>
  </div>
</div>